<a href="https://colab.research.google.com/github/poovendhiranr/Test_public_spark/blob/main/Test_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip3 install pyspark
from pyspark.sql import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, LongType
import math 
import pyspark.sql.functions as f
from pyspark.sql import types 
from pyspark.sql import Window
spark = SparkSession.builder.master("local[*]") \
                    .appName('Test_spark') \
                    .getOrCreate()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 13.3 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=5e12ebbb504408bae097e6b541078e8e37782a6a772460f55d1cf3e2e10cf369
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
a="babad"
def find_longest_palindrome(s):
    longest = ''
    n = len(s)
    for i in range(n):
        for j in range(i+1,n+1):
            word = s[i:j]
            if word == word[::-1]:
                if len(word)>len(longest):
                    longest = word          
    return longest

find_longest_palindrome(a)

ValueError: ignored

In [ ]:
rdd1=spark.sparkContext.textFile('/content/property.csv')
header=rdd1.map(lambda x:x.split("|")).first()
cus_header=spark.sparkContext.parallelize([['popid','size','final']])
rdd2=rdd1.map(lambda x:x.split("|")).filter(lambda x:x!=header).map(lambda x:[ x[0],x[5],str(int(x[5]) * int(x[6])) ])
rdd3=cus_header.union(rdd2)
for i in rdd3.collectAsMap():
  print(i)

ValueError: ignored

In [ ]:
df1=spark.range(1,500000).toDF("id1").withColumn("C1",f.lit("hello"))
df2=spark.range(200,600000).toDF("id2").withColumn("C2",f.lit("hi"))
df3=df1.join(df2,df1.id1==df2.id2,how="inner")
print(df3.rdd.getNumPartitions())
df3.coals(300).write.mode("overwrite").save("/content/check.csv")

100

In [ ]:
# df1 = spark.read.format("csv") \
#             .option("delimiter", "|") \
#             .option("header", "true") \
#             .option("inferSchema", "True") \
#             .load("/content/oth.csv").createOrReplaceTempView("hello")

# df2=df1.drop("_c0")
# df3=df2.groupBy("id","name").agg(f.min(df2.age).alias ("age") ,f.min(df2.city))
# df3.show()

# spark.sql('''select id, name,min(age) as age ,min(city) as city from hello group by id,name''').show()
# df1 = spark.read.format("csv") \
#             .option("delimiter", "|") \
#             .option("header", "true") \
#             .option("inferSchema", "True") \
#             .load("/content/oth1.csv")
         
#spark.sql('''select Name,Weight from (select Name,Weight,dense_rank() over(order by Weight desc) as rnk from hello )temp where rnk<3 ''').show()



# wd=Window.orderBy(f.col("Weight").desc())
# df1.withColumn("rnk",f.rank().over(wd)).filter(f.col("rnk")<3).select(f.col("Name"),f.col("Weight")).show()

# rdd1=spark.sparkContext.textFile("/content/oth1.csv")
# header = rdd1.map(lambda x:x.split('|')).first()
# ab=rdd1.map(lambda x:x.split('|')).filter(lambda x: x!=header) \
#        .sortBy(lambda X:X[1],False) \
#        .filter(lambda x : int(x[1])>60)
# for a in ab.collect():
#   print(a)


# ab=rdd1.map(lambda x:x.split('|')).filter(lambda x: x!=header) \
#        .sortBy(lambda X:X[1],False) \
#        .take(2)
# print(ab[1])


# df1 = spark.read.format("csv") \
#             .option("delimiter", ",") \
#             .option("header", "true") \
#             .option("inferSchema", "True") \
#             .load("/content/oth2.csv")
# df1.withColumn("hob",f.explode(f.split(f.col("hobbies"),'-'))) \
#    .drop(f.col("hobbies")).show()

# rdd1=spark.sparkContext.textFile("/content/oth2.csv")
# header = rdd1.map(lambda x:x.split(',')).first()
# ab=rdd1.map(lambda x:x.split(',')).filter(lambda x: x!=header).map(lambda x :[x[0],x[1],x[2].split("-")]) 
# lis=[]
# for a in ab.collect():
#   for b in a[2]:
#     lis=lis+[a[0],a[1],b]
# print(lis)    



# data = [("James","Sales",34), ("Michael","Sales",56),("Robert","Sales",30), ("Maria","Finance",24) ]
# df1 = data.toDF("name","dept","age")
# df1.printSchema()

# data2=Seq(("James","Sales","NY",9000),("Maria","Finance","CA",9000),("Jen","Finance","NY",7900),("Jeff","Marketing","CA",8000))
# df2 = data2.toDF("name","dept","state","salary")
# df2.printSchema()


# lis=[1,0,1,0,1,0,1,0]
# ad=[]
# for i in lis: 
#   if i<1:
#     ad=ad+[i]
# for i in lis:
#   if i>0:
#     ad=ad+[i]
# print(ad)       

# df2=spark.sparkContext.textFile("/content/file_check.csv")
# tt=df2.flatMap(lambda x:x.split(" ")).map(lambda x:(x,1)).reduceByKey(lambda x,y:x+y).collectAsMap()
# max=1
# value=""
# for i,j in tt.items():
#   if j < max :
#     min=j
# print(min)    
# for i,j in tt.items():
#   if j==min:
#     print(i)
# print(tt) 

# df2=spark.sparkContext.textFile("/content/file_check.csv")
# tt=df2.flatMap(lambda x:x.split(" ")).map(lambda x:(x,1)).collect()
# print(tt)

# df2=spark.sparkContext.textFile("/content/check.csv")
# tt=df2.map(lambda x:x.split(" ")).map(lambda x:x[0]).collect()
# print(tt)

#withColumn(“Marks”,split(col(“Marks”),”,”).cast(“array<long>”))
from pyspark.sql.types import *

#df1=spark.read.format("csv").option("delimiter","|").option("Header",True).load("/content/file_explode.csv")
#df1.withColumn("chdc",f.split(f.col("education"),",").cast("array<long>")).show()
che=spark.sparkContext.parallelize(["101|aaa|mcs,vd,education"])
che2=che.map(lambda x: (x.split("|") )).toDF(["id","name","study"])
fdf=che2.withColumn('funct', f.split('study',',')).drop("study").show()
fdf.select(f.col("id"),f.explode(f.col("funct"))).show()

+---+----+--------------------+
| id|name|               funct|
+---+----+--------------------+
|101| aaa|[mcs, vd, education]|
+---+----+--------------------+

AttributeError: ignored

SESSION_Allocation

In [ ]:

df1 = spark.read.format("csv") \
            .option("delimiter", ",") \
            .option("header", "true") \
            .option("TimeStampFormat", "yyyy-MM-dd HH:mm") \
            .option("inferSchema", "True") \
            .load("/content/session2.csv")

# populate prev dtime for each record
df_30 = df1.withColumn("prev_dtime",f.lag("dtime").over(Window.partitionBy("idt").orderBy("dtime")),)

#find the diff of dtime and prev_dtime if it is less than or equal to 30 min add 0 else add 1
df_30 = df_30.withColumn("session_diff_30min", \
                   (f.col("dtime").cast(LongType()) - f.col("prev_dtime").cast(LongType()))/60)
df_30 = df_30.withColumn("session_flag_30min", \
                  f.when(f.col("session_diff_30min")<30,0).otherwise(1))

df_30 = df_30.withColumn("session_id_30min",f.sum("session_flag_30min").over(Window.partitionBy("idt").orderBy("dtime")))

#df_30_mindt = df_30.groupBy("idt", "session_id_30min").agg(f.min(f.col("dtime")).alias("min_dtime"))
df_30_mindt = df_30.groupBy("idt").agg(f.min(f.col("dtime")).alias("min_dtime"))

df_2hrs_1 = df_30.join(df_30_mindt, ["idt" ], "inner")
df_2hrs_1=df_2hrs_1.withColumn("session_id_2hrs", \
                   f.when(f.floor((f.col("dtime").cast(LongType()) - f.col("min_dtime").cast(LongType()))/7200)>=1,1).otherwise(0))

df_2hrs_1=df_2hrs_1.withColumn("total",f.col("session_id_2hrs")+f.col("session_id_30min"))







# create the session id using the running total
# df_30 = df_30.withColumn("session_id_30min",f.sum("session_flag_30min").over(Window.partitionBy("idt").orderBy("dtime")))
# df_30.show(truncate=False)

#now we have completed the creating the session id with 30 min logic
#start implement the 2hrs logic
#for each user and session id get the minimum date time
# df_30_mindt = df_30.groupBy("idt", "session_id_30min").agg(f.min(f.col("dtime")).alias("min_dtime"))
# df_30_mindt.show(truncate=False)

#now join df_30 with df_30mindt to populate the min_dtime column
# df_2hrs_1 = df_30.join(df_30_mindt, ["idt" , "session_id_30min"], "inner")

# #now find the differeent between dtime and min_dtime if the difference is less than 7200 (2HRS) add 0 else 1
# df_2hrs_2 = df_2hrs_1.withColumn("session_flag_2hrs", \
#         f.when(f.col("dtime").cast(LongType()) - f.col("min_dtime").cast(LongType()) <= 7200, 0).otherwise(1))


# df_2hrs_2 = df_2hrs_2.withColumn("session_flag_2hrs",f.sum("session_flag_2hrs").over(Window.partitionBy("idt").orderBy("dtime")))


# #now to populate the final session id sum session_flag_30min and session_flag_2hrs
#df_final = df_2hrs_1.withColumn("total", f.col("session_id_30min") + f.col("session_id_2hrs"))

df_2hrs_1.show(truncate=False)

+---+-------------------+-------------------+------------------+------------------+----------------+-------------------+---------------+-----+
|idt|dtime              |prev_dtime         |session_diff_30min|session_flag_30min|session_id_30min|min_dtime          |session_id_2hrs|total|
+---+-------------------+-------------------+------------------+------------------+----------------+-------------------+---------------+-----+
|U1 |2020-03-28 03:45:00|null               |null              |1                 |1               |2020-03-28 03:45:00|0              |1    |
|U1 |2020-03-28 04:10:00|2020-03-28 03:45:00|25.0              |0                 |1               |2020-03-28 03:45:00|0              |1    |
|U1 |2020-03-28 04:35:00|2020-03-28 04:10:00|25.0              |0                 |1               |2020-03-28 03:45:00|0              |1    |
|U1 |2020-03-28 04:55:00|2020-03-28 04:35:00|20.0              |0                 |1               |2020-03-28 03:45:00|0              |1    |
|U1 |2020-03-28 05:20:00|2020-03-28 04:55:00|25.0              |0                 |1               |2020-03-28 03:45:00|0              |1    |
|U1 |2020-03-28 05:45:00|2020-03-28 05:20:00|25.0              |0                 |1               |2020-03-28 03:45:00|1              |2    |
|U1 |2020-03-28 06:10:00|2020-03-28 05:45:00|25.0              |0                 |1               |2020-03-28 03:45:00|1              |2    |
|U1 |2020-03-28 06:58:00|2020-03-28 06:10:00|48.0              |1                 |2               |2020-03-28 03:45:00|1              |3    |
|U1 |2020-03-28 07:15:00|2020-03-28 06:58:00|17.0              |0                 |2               |2020-03-28 03:45:00|1              |3    |
|U1 |2020-03-28 07:25:00|2020-03-28 07:15:00|10.0              |0                 |2               |2020-03-28 03:45:00|1              |3    |
|U1 |2020-03-28 07:30:00|2020-03-28 07:25:00|5.0               |0                 |2               |2020-03-28 03:45:00|1              |3    |
|U1 |2020-03-28 09:35:00|2020-03-28 07:30:00|125.0             |1                 |3               |2020-03-28 03:45:00|1              |4    |
|U1 |2020-03-28 10:00:00|2020-03-28 09:35:00|25.0              |0                 |3               |2020-03-28 03:45:00|1              |4    |
|U1 |2020-03-28 10:10:00|2020-03-28 10:00:00|10.0              |0                 |3               |2020-03-28 03:45:00|1              |4    |
|U1 |2020-03-28 12:15:00|2020-03-28 10:10:00|125.0             |1                 |4               |2020-03-28 03:45:00|1              |5    |
|U2 |2020-03-28 09:35:00|null               |null              |1                 |1               |2020-03-28 09:35:00|0              |1    |
|U2 |2020-03-28 10:00:00|2020-03-28 09:35:00|25.0              |0                 |1               |2020-03-28 09:35:00|0              |1    |
|U2 |2020-03-28 10:40:00|2020-03-28 10:00:00|40.0              |1                 |2               |2020-03-28 09:35:00|0              |2    |
+---+-------------------+-------------------+------------------+------------------+----------------+-------------------+---------------+-----+

Fuel_theft

In [ ]:
df1 = spark.read.format("csv") \
            .option("delimiter", ",") \
            .option("header", "true") \
            .option("TimeStampFormat", "yyyy-MM-dd HH:mm") \
            .option("inferSchema", "True") \
            .load("/content/fuel.csv")

df2=df1.withColumn("previous"     ,f.lag("fuel_level").over(Window.orderBy("timestamp"))) \
       .withColumn("diff"         ,f.floor(f.col("previous")-f.col("fuel_level"))) 
df2=df2.withColumn("flag_temp",f.lit("Normal"))

mvalue=df2.filter(f.col("diff")>1).rdd.map(lambda x: x.asDict()).collect()
mdict ={i['previous']:i for i in mvalue}
Fuel_list=df2.select("fuel_level").rdd.flatMap(lambda x: x).collect()

def flag_convert_fun(a,b):
  flag="Normal"
  if str(a)==str(b):
    for i in Fuel_list:
      if math.floor(a-i)==1:
        flag="incline"
  return flag

flag_convert=f.udf(lambda z,b:flag_convert_fun(z,b))
for i in mdict:
  df3=df2.withColumn("flag",f.when((flag_convert(f.col("fuel_level"),f.lit(i))=="incline") \
                      & (f.col("flag_temp")=="Normal"),"incline").otherwise(f.col("flag_temp")))
  df2=df3.withColumn("flag_temp",f.col("flag"))

for i in mdict:
  df3=df2.withColumn("flag",f.when((f.col("fuel_level")==i)&(f.col("flag_temp")=="Normal"),"Theft") \
                     .otherwise(f.col("flag_temp")))
df3.drop(f.col("flag_temp")).filter(f.col("flag")!="Normal").show()

+--------+-------------------+----------+--------+----+-------+
| trip_id|          timestamp|fuel_level|previous|diff|   flag|
+--------+-------------------+----------+--------+----+-------+
|trip_006|2020-03-28 12:18:00|    280.49|  281.74|   1|incline|
|trip_006|2020-03-28 12:23:00|    272.49|  280.49|   8|incline|
|trip_006|2020-03-28 14:53:00|    455.22|  255.22|-201|  Theft|
+--------+-------------------+----------+--------+----+-------+

In [ ]:
UPSERTLOGIC

In [3]:
from pyspark.sql.functions import *

df1 = spark.read.format("csv") \
            .option("delimiter", ",") \
            .option("header", "true") \
            .option("TimeStampFormat", "yyyy-MM-dd HH:mm") \
            .option("inferSchema", "True") \
            .load("/content/HIST.csv")
df1=df1.withColumn("audit_time",current_timestamp())
df1=df1.withColumn("audit_col",f.concat(f.year(f.col("Date")),f.month(f.col("Date"))))  
df1.write.mode("overwrite").partitionBy("audit_col").option("Header",True).format("csv").save("/content/datapart")   
      




df2 = spark.read.format("csv") \
            .option("delimiter", ",") \
            .option("header", "true") \
            .option("TimeStampFormat", "yyyy-MM-dd") \
            .option("inferSchema", "True") \
            .load("/content/INC.csv")
df2=df2.withColumn("audit_time",current_timestamp())
df2=df2.withColumn("audit_col",f.concat(f.year(f.col("Date")),f.month(f.col("Date"))))  




datecnt=df2.select(f.col("audit_col"))
a=set([i[0] for i in datecnt.rdd.collect()])
for i in a:
  df_main = spark.read.format("csv") \
            .option("delimiter", ",") \
            .option("header", "true") \
            .option("TimeStampFormat", "yyyy-MM-dd") \
            .option("inferSchema", "True") \
            .load("/content/datapart/audit_col="+i)

  df_inc= df2.filter(f.col("audit_col")==i).drop("audit_col")
  print("inc",df_inc.columns)
  print("hist",df_main.columns)
  df_final=df_main.unionByName(df_inc).withColumn("rnk",row_number().over(Window.partitionBy("ID") \
                                      .orderBy(f.col("audit_time").asc()))).filter("rnk=1") \
                                      .drop("rnk")
  df_final.write.mode("overwrite").option("header",True).format("csv").save("/content/data_temp")      
  df_temp=spark.read.format("csv").option("delimiter", ",").option("header", "true").load("/content/data_temp")
  df_temp.write.mode("overwrite").option("Header",True).format("csv").save("/content/datapart/audit_col="+i)   
  df_temp.show()                                                      
   




# inc ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
# hist ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
# ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time', 'audit_col']

inc ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
hist ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
+---+---------------+-----------+--------------------+--------------------+
| ID|          NAMES|    COUNTRY|                DATE|          audit_time|
+---+---------------+-----------+--------------------+--------------------+
|  7| Ferris Knowles|New Zealand|2023-05-17T00:00:...|2023-01-13T12:34:...|
|  8|Barclay Wheeler|   Pakistan|2023-05-17T00:00:...|2023-01-13T12:34:...|
|  9|updEthan Hodges|     Turkey|2023-05-11T00:00:...|2023-01-13 12:34:...|
| 12|    Judah Hayes|    Germany|2023-05-21T00:00:...|2023-01-13T12:34:...|
| 29|   Ethan Hodges|     Turkey|2023-05-11T00:00:...|2023-01-13 12:34:...|
+---+---------------+-----------+--------------------+--------------------+

inc ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
hist ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
+---+----------------+-------+--------------------+--------------------+
| ID|           NAMES|COUNTRY|                DATE|          audit_time|
+---+----------------+-------+--------------------+--------------------+
|  5|updDillon Garcia|  India|2022-11-14T00:00:...|2023-01-13 12:34:...|
| 32|   Dillon Garcia|  India|2022-11-14T00:00:...|2023-01-13 12:34:...|
+---+----------------+-------+--------------------+--------------------+

inc ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
hist ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
+---+----------------+-------------+--------------------+--------------------+
| ID|           NAMES|      COUNTRY|                DATE|          audit_time|
+---+----------------+-------------+--------------------+--------------------+
|  3|    Aladdin Buck|  Netherlands|2022-01-31T00:00:...|2023-01-13T12:34:...|
| 13|updNolan Ferrell|United States|2022-01-27T00:00:...|2023-01-13 12:34:...|
| 33|   Nolan Ferrell|United States|2022-01-27T00:00:...|2023-01-13 12:34:...|
+---+----------------+-------------+--------------------+--------------------+

inc ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
hist ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
+---+---------------+-------+--------------------+--------------------+
| ID|          NAMES|COUNTRY|                DATE|          audit_time|
+---+---------------+-------+--------------------+--------------------+
| 22|updWilla Cooper| France|2023-02-27T00:00:...|2023-01-13 12:34:...|
| 31|   Willa Cooper| France|2023-02-27T00:00:...|2023-01-13 12:34:...|
+---+---------------+-------+--------------------+--------------------+

inc ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
hist ['ID', 'NAMES', 'COUNTRY', 'DATE', 'audit_time']
+---+-------------------+-------------+--------------------+--------------------+
| ID|              NAMES|      COUNTRY|                DATE|          audit_time|
+---+-------------------+-------------+--------------------+--------------------+
|  5|      Ora Blackwell|United States|2023-03-31T00:00:...|2023-01-13T12:34:...|
|  8|updChelsea Phillips|       Sweden|2023-03-23T00:00:...|2023-01-13 12:34:...|
| 30|   Chelsea Phillips|       Sweden|2023-03-23T00:00:...|2023-01-13 12:34:...|
+---+-------------------+-------------+--------------------+--------------------+

In [6]:
df=spark.read.format("csv").option("header",True).option("InferSchema",True).load("/content/datapart/").createOrReplaceTempView("temp")
spark.sql("select * from temp order by DATE ").show()

+---+------------------+------------------+-------------------+--------------------+---------+
| ID|             NAMES|           COUNTRY|               DATE|          audit_time|audit_col|
+---+------------------+------------------+-------------------+--------------------+---------+
| 13|  updNolan Ferrell|     United States|2022-01-27 00:00:00|2023-01-13 12:34:...|    20221|
| 33|     Nolan Ferrell|     United States|2022-01-27 00:00:00|2023-01-13 12:34:...|    20221|
|  3|      Aladdin Buck|       Netherlands|2022-01-31 00:00:00|2023-01-13 12:34:...|    20221|
| 21|      Deirdre Bird|        Costa Rica|2022-03-18 00:00:00|2023-01-13 12:34:...|    20223|
| 17|       Dai Bernard|      South Africa|2022-05-05 00:00:00|2023-01-13 12:34:...|    20225|
|  2|       Carol Gross|           Nigeria|2022-05-06 00:00:00|2023-01-13 12:34:...|    20225|
| 18|         Jolie Ray|         Australia|2022-05-22 00:00:00|2023-01-13 12:34:...|    20225|
| 22|      Ivan Puckett|           Nigeria|2022-06-07 00:00:00|2023-01-13 12:34:...|    20226|
| 18|       Finn Travis|Russian Federation|2022-07-03 00:00:00|2023-01-13 12:34:...|    20227|
| 15|Gwendolyn Callahan|            Brazil|2022-07-13 00:00:00|2023-01-13 12:34:...|    20227|
|  5| Xanthus Hendricks|           Germany|2022-08-11 00:00:00|2023-01-13 12:34:...|    20228|
|  1|    Bruno Marshall|           Belgium|2022-08-26 00:00:00|2023-01-13 12:34:...|    20228|
|  9|  Callie Cervantes|       Netherlands|2022-10-13 00:00:00|2023-01-13 12:34:...|   202210|
| 17|    Nolan Erickson|         Singapore|2022-10-15 00:00:00|2023-01-13 12:34:...|   202210|
|  5|  updDillon Garcia|             India|2022-11-14 00:00:00|2023-01-13 12:34:...|   202211|
| 32|     Dillon Garcia|             India|2022-11-14 00:00:00|2023-01-13 12:34:...|   202211|
|  3|  Demetria Freeman|              Peru|2023-01-26 00:00:00|2023-01-13 12:34:...|    20231|
|  4|   Pandora O'brien|           Ukraine|2023-01-30 00:00:00|2023-01-13 12:34:...|    20231|
| 31|      Willa Cooper|            France|2023-02-27 00:00:00|2023-01-13 12:34:...|    20232|
| 22|   updWilla Cooper|            France|2023-02-27 00:00:00|2023-01-13 12:34:...|    20232|
+---+------------------+------------------+-------------------+--------------------+---------+
only showing top 20 rows

SQL_Test

In [ ]:
df=spark.read.format("csv").option("header",True).option("InferSchema",True).load("/content/datapart/")
spark.sql("with mcheck as (select  first_name,last_name,email,gender,ip_address, row_number() over( partition by first_name,last_name,email,gender,ip_address order by first_name,last_name,email,gender,ip_address )as rnk from mtable ) insert overwrite into mtable select * from mcheck where rnk=1").show()

ParseException: ignored

In [ ]:
df_1=spark.read.format("csv").option("header",True).load("/content/check_22.csv")
df=df_1.createOrReplaceTempView("check7")
fg=spark.sql('''select idf,sum(amount),count(idf) as occurance from check7 where idf in 
(select i.idf from check7 as i group by idf having count( distinct orderdate) >1)
 group by idf ''').createOrReplaceTempView("check77")
gg=spark.sql('''select * from check77''').show()

+---+-----------+---------+
|idf|sum(amount)|occurance|
+---+-----------+---------+
|101|      600.0|        2|
+---+-----------+---------+

In [ ]:
df=spark.createDataFrame([('translate',)], ['a']).select(F.translate('a', "rnlt", "123").alias('r')).collect()
print(df)

[Row(r='1a2s3ae')]

In [ ]:
dF = spark.createDataFrame
([Row(a=1, intlist=[1,2,3], mapfield={"a": "b"})])
df.select(F.explode(df.intlist).alias("anInt")).collect()

NameError: ignored

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]") \
                    .appName('Test_spark') \
                    .getOrCreate()

KeyboardInterrupt: ignored

In [ ]:
def convertCase(str):
    resStr=""
    arr = str.split(" ")
    for x in arr:
       print (x[0:1].upper())
       print( x[1:len(x)])
       resStr= resStr + x[0:1].upper() + x[1:len(x)] + " "
       
    return resStr

convertCase("hello world")

H
ello
W
orld

'Hello World '

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders")]

df = spark.createDataFrame(data=data,schema=columns)

df.show(truncate=False)

def convertCase(str):
    resStr=""
    arr = str.split(" ")
    for x in arr:
       resStr= resStr + x[0:1].upper() + x[1:len(x)] + " "
    return resStr 

""" Converting function to UDF """
convertUDF = udf(lambda z: convertCase(z))

df.select(col("Seqno"), \
    convertUDF(col("Name")).alias("Name") ) \
.show(truncate=False)

def upperCase(str):
    return str.upper()

upperCaseUDF = udf(lambda z:upperCase(z),StringType())    

df.withColumn("Cureated Name", upperCaseUDF(col("Name"))) \
.show(truncate=False)

""" Using UDF on SQL """
spark.udf.register("convertUDF", convertCase,StringType())
df.createOrReplaceTempView("NAME_TABLE")
spark.sql("select Seqno, convertUDF(Name) as Name from NAME_TABLE") \
     .show(truncate=False)
     
spark.sql("select Seqno, convertUDF(Name) as Name from NAME_TABLE " + \
          "where Name is not null and convertUDF(Name) like '%John%'") \
     .show(truncate=False)  
     
""" null check """

columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders"),
    ('4',None)]

df2 = spark.createDataFrame(data=data,schema=columns)
df2.show(truncate=False)
df2.createOrReplaceTempView("NAME_TABLE2")
    
spark.udf.register("_nullsafeUDF", lambda str: convertCase(str) if not str is None else "" , StringType())

spark.sql("select _nullsafeUDF(Name) from NAME_TABLE2") \
     .show(truncate=False)

spark.sql("select Seqno, _nullsafeUDF(Name) as Name from NAME_TABLE2 " + \
          " where Name is not null and _nullsafeUDF(Name) like '%John%'") \
     .show(truncate=False)

In [ ]:

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf
from pyspark.sql import functions as F
from pyspark.sql.types import StringType

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders"),
    ('4',None)]

df2 = spark.createDataFrame(data=data,schema=columns)
df2.show(truncate=False)

+-----+------------+
|Seqno|Name        |
+-----+------------+
|1    |john jones  |
|2    |tracey smith|
|3    |amy sanders |
|4    |null        |
+-----+------------+

In [ ]:
df2.select([F.regexp_replace(F.col(cname),' ','').alias (F.regexp_replace(cname,' ','')) for cname in df2.columns]).show()

TypeError: ignored

In [ ]:
# prime number testing
Last_number=12
sum=0

for number in range(2, Last_number + 1):
    print("next",number)
    
    for i in range(2, number):
        
        if (int(number % i) == 0):
           
            i = number
            print("check",i)
            break;

    print("integervalue",i)
    print("numbervalue",number)
    if i is not number:
      print("valuexxx",number)
      sum += number
print("\nThe sum of prime numbers in python from 1 to ", Last_number, " is :", sum)

In [ ]:
a= spark.sparkContext.parallelize(Array(("a",1),("a",2),("b",2)))
b =a.foldByKey(1)(_+_)

NameError: ignored

In [ ]:
import  pyspark.sql.functions as  F
df=spark.createDataFrame([('translate',)], ['a']).select(F.translate('a', "rnlt", "123").alias('r')).collect()
print(df)

[Row(r='1a2s3ae')]

In [ ]:
df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
df.show()
df.select(df.colRegex("`(Col1)?+.+`")).show()

+----+----+
|Col1|Col2|
+----+----+
|   a|   1|
|   b|   2|
|   c|   3|
+----+----+